In [5]:
import pandas as pd

In [8]:
# !pip install openpyxl
# https://github.com/maryami66/uci_dataset

# https://archive-beta.ics.uci.edu/datasets?Types=Text&Task=Regression&sort=desc&orderBy=NumHits&skip=0&take=10
#

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/krzysztof/.local/lib/python3.8/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/krzysztof/.local/lib/python3.8/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.3.1; however, version 23.1.2 is available.
You should consider upgrading via the '/usr/bin/python3.8 -m pip install --upgrade pip' command.

In [12]:
data = pd.read_csv('data/AB_NYC_2019.csv')

In [13]:
data

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[48895 rows x 16 columns]

In [ ]:
# https://www.kaggle.com/code/prashantsaraswat88/using-text-based-features-for-price-regression