In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [7]:
# !pip install openpyxl
# https://github.com/maryami66/uci_dataset

# https://archive-beta.ics.uci.edu/datasets?Types=Text&Task=Regression&sort=desc&orderBy=NumHits&skip=0&take=10
#

In [63]:
data.head()
#data['name'] = data['name'].str.lower()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,skylit midtown castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,the village of harlem....new york !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,cozy entire floor of brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,entire apt: spacious studio/loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### tfidf = TfidfVectorizer().fit(data['name'])

In [71]:
tfidf.transform(data['name']).todense()[:5, tfidf.get_feature_names_out() == 'park']

matrix([[0.33346545],
        [0.        ],
        [0.        ],
        [0.        ],
        [0.31731504]])

In [9]:
data = pd.read_csv('data/AB_NYC_2019.csv')

TARGET = ['price']
CATEGORICAL = ['neighbourhood_group', 'neighbourhood', 'room_type']
FEATURES = ['name', 'minimum_nights'] + CATEGORICAL
data['name'] = data['name'].fillna('')
X, y = data[FEATURES], data[TARGET]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [11]:
# https://www.kaggle.com/code/prashantsaraswat88/using-text-based-features-for-price-regression

In [17]:
cat_transformer = ColumnTransformer([
    ('one_hot', OneHotEncoder(), CATEGORICAL)
])

In [21]:
cat_transformer.fit_transform(data)

<48895x229 sparse matrix of type '<class 'numpy.float64'>'
	with 146685 stored elements in Compressed Sparse Row format>

## Count Vecorizer

In [91]:
#from xgboost import XGBRegressor
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.metrics import mean_squared_error

from sklearn.compose import ColumnTransformer
from category_encoders import OneHotEncoder

from sklearn.linear_model import LinearRegression

# Count vectorizer
count_vec_pipeline = Pipeline([
    ('one_hot', OneHotEncoder(cols=CATEGORICAL)),
    ('count_vectorizer', ColumnTransformer([
        ('name_cv', CountVectorizer(), 'name')
    ])),
    ('linear_regression', LinearRegression())
])
count_vec_pipeline.fit(X_train, y_train)
y_pred_count_vec = count_vec_pipeline.predict(X_test)
print(mean_squared_error(y_test, y_pred_count_vec))

# # TFIDF
tfidf_pipeline = Pipeline([
    ('one_hot', OneHotEncoder(cols=CATEGORICAL)),
    ('count_vectorizer', ColumnTransformer([
        ('name_tfidf', TfidfVectorizer(), 'name')
    ])),
    ('linear_regression', LinearRegression())
])
tfidf_pipeline.fit(X_train, y_train)
y_pred_tfidf = tfidf_pipeline.predict(X_test)
print(mean_squared_error(y_test, y_pred_tfidf))

57595.17046736247
59300.3605234872

In [94]:
feature_names = tfidf_pipeline[1].get_feature_names_out()
tfidf_features = pd.DataFrame(
    tfidf_pipeline[1].transform(X_test).todense(), 
    columns=feature_names
)
tfidf_features.loc[:, np.random.choice(tfidf_features.columns, 20)]

,name_tfidf__access,name_tfidf__mary,name_tfidf__61f3,name_tfidf__supersunny,name_tfidf__courteous,name_tfidf__干净,name_tfidf__loving,name_tfidf__cute,name_tfidf__btwn,name_tfidf__5226,name_tfidf__12x12,name_tfidf__shopping,name_tfidf__snug,name_tfidf__belmont,name_tfidf__drenched,name_tfidf__traveler,name_tfidf__boutique,name_tfidf__quest,name_tfidf__4l,name_tfidf__solarium
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9775,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
feature_names

array(['name__00', 'name__000', 'name__000sf', ..., 'name__ﾏﾝﾊｯﾀﾝ',
       'name__ﾏﾝﾊｯﾀﾝ10分', 'name__ﾐｯﾄﾞﾀｳﾝｳｴｽﾄｻｲﾄﾞ'], dtype=object)

In [43]:
from sklearn.decomposition import TruncatedSVD, NMF

# Count vectorizer + PCA

In [44]:
# Count vectorizer
count_vec_pipeline = Pipeline([
    ('one_hot', OneHotEncoder(cols=CATEGORICAL)),
    ('count_vectorizer', ColumnTransformer([
        ('name', make_pipeline(CountVectorizer(), NMF(n_components=200)), 'name')
    ])),
    ('linear_regression', LinearRegression())
])
count_vec_pipeline.fit(X_train, y_train)
y_pred_count_vec = count_vec_pipeline.predict(X_test)
print(mean_squared_error(y_test, y_pred_count_vec))

# # TFIDF
tfidf_pipeline = Pipeline([
    ('one_hot', OneHotEncoder(cols=CATEGORICAL)),
    ('count_vectorizer', ColumnTransformer([
        ('name', make_pipeline(TfidfVectorizer(), TruncatedSVD(n_components=200)), 'name')
    ])),
    ('linear_regression', LinearRegression())
])
tfidf_pipeline.fit(X_train, y_train)
y_pred_tfidf = tfidf_pipeline.predict(X_test)
print(mean_squared_error(y_test, y_pred_tfidf))

54863.83965235599
55764.36855583352

In [45]:
from xgboost import XGBRegressor

# # TFIDF
tfidf_pipeline = Pipeline([
    ('one_hot', OneHotEncoder(cols=CATEGORICAL)),
    ('count_vectorizer', ColumnTransformer([
        ('name_topics', make_pipeline(TfidfVectorizer(), TruncatedSVD(n_components=200)), 'name')
    ])),
    ('linear_regression', XGBRegressor())
])
tfidf_pipeline.fit(X_train, y_train)
y_pred_tfidf = tfidf_pipeline.predict(X_test)
print(mean_squared_error(y_test, y_pred_tfidf))

57505.90652251384